*{
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


.navbar{
    background-color: #011f3f !important;
}

body{
    background-color: #011f3f;
}

.expo-logo{
    max-width: 100px;
}
/* 
.leading{
    max-width: 1200px;
} */


.leading > h1{
    font-size: 65px;
    color: white;
    white-space: normal; 
}

#dynamic-text {
    color: #007bff;
    border-right: 2px solid #007bff;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
}

.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
}


.banner{
    display: flex;
    align-items: center;
    gap: 30px;
    height: calc(100vh - 70px - 10rem);
}

.banner > img{
    max-width: 600px;
}

.arrow-container {
    text-align: center;
}


.arrow-link {
    text-decoration: none;
    font-size: 14px;
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
}

.arrow {
    width: 30px;
    height: 30px;
    border-right: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
    transform: rotate(45deg);
    animation: pulse 1.5s infinite ease-in-out;
}

.navbar{
    border-bottom: 1px solid #ffffff26
}

@keyframes pulse {
    0% {
        transform: translateY(0) rotate(45deg);
    }
    50% {
        transform: translateY(10px) rotate(45deg);
    }
    100% {
        transform: translateY(0) rotate(45deg);
    }
}

.content{
    background-color: white;
    padding-block: 5rem;
}

.card-about{
    display: flex;
    align-items: center;
    border-radius: 50px;
    color: white;
    background-color: #d1e7ff;
}

.quem-somos-title > h2{
    padding: 2rem;
    font-weight: bold;
    font-size: 2.5rem;
    color: #333;
    text-shadow: 1px 1px 2px #007bff;

}
.quem-somos-description{
    font-size: 1.2em; 
    padding: 2rem;
    line-height: 1.8;
    margin-top: 20px;
    color: #665;

}

#divider {
	height: 80px;
	width: 2px;
	background: blue;
	background: linear-gradient( hsl(197, 100%, 83%), hsl(231, 100%, 65%), hsl(197, 100%, 83%));
}

.contato{
    display: flex;
    flex-direction: column;
}

.contato h2, .contato p{
    text-align: center;
}

.form-contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-contact > input, .form-contact > textarea{
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
}

#logo-footer{
    max-width: 200px;
}

.fale-conosco{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: right;
}

.fale-conosco-descricao{
    display: flex;
    gap: 10px;
    flex-direction: column;
    
}

.footer-container{
    display: flex;
    justify-content: space-around;
    padding: 5rem;
}
